<h2 class="text-center mt-5"> <u> Détails d'un Agent </u> </h2>
<div>
    <div>
        <label> <b> Nom Utilisateur : </b></label>{{agen.username}}
    </div>
    <div>
        <label> <b> Nom: </b></label> {{agen.nom}}
    </div>
    <div>
        <label> <b> Prénoms: </b></label> {{agen.prenom}}
    </div>
    <div>
        <label> <b> Matricule: </b></label> {{agen.matricule}}
    </div>
    <div>
        <label> <b> Date Naissance: </b></label> {{agen.dateNaissance}}
    </div>
    <div>
        <label> <b> Téléphone: </b></label> {{agen.tel}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{agen.email}}
    </div>
    <div>
        <label> <b> Fonction: </b></label> {{agen.fonction}}
    </div>
    <div>
        <label> <b> Date d'Affectation: </b></label> {{agen.dateAffectation}}
    </div>
    <div>
        <label> <b> Catégorie: </b></label> {{agen.categorie}}
    </div>
    <div>
        <label> <b> Poste de Responsabilité: </b></label> {{agen.postResponsabilite}}
    </div>
    <div>
        <label> <b> Echelle: </b></label> {{agen.echelle}}
    </div>
    <div>
        <label> <b> Date Echelle: </b></label> {{agen.dateEchelle}}
    </div>
    <div>
        <label> <b> Echellon: </b></label> {{agen.echellon}}
    </div>
    <div>
        <label> <b> Date Echellon: </b></label> {{agen.dateEchellon}}
    </div>

</div>
