<ng-template pTemplate="header">

</ng-template>
<!-- <p-divider></p-divider> -->
<hr>
<div class="formgrid grid">
    <div class="field col-4 md:col-4">
        <span class="va-m"><span class="font-bold">Sigle:</span> {{departement.sigle}}</span>
    </div>
    <div class="field col-4 md:col-4">
        <span class="va-m"><span class="font-bold">Libellé:</span> {{departement.libelle}}</span>
    </div>
</div>
<!-- <p-divider></p-divider> -->
<div class="p-ml-auto text-right">
    <button type="reset" label="Fermer" (click)="clear()"
            class="p-button-raised p-button-danger mr-2" pButton></button>
</div>
