<div class="grid">
    <div class="col-12">
        <div class="card">
            <h3>Décrets</h3>
        </div>
        <div class="card">
            <p-messages [hideTransitionOptions]="'2000ms'" [(value)]="messages!" [enableService]="false" [closable]="true"></p-messages>
            <div class="row">
                <div class="col-md-6">
                    <button (click)="openModalDecret()" pButton type="button" icon="pi pi-plus" label="Nouveau" class="p-button-secondary" style="margin-bottom: 16px"></button>
                </div>
            </div>
            <div class="card">
                <p-toast></p-toast>
                <p-table class="p-datatable-custom" [value]="decrets" selectionMode="single" [(selection)]="selectedDecret" dataKey="code" styleClass="p-datatable-sm"
                         (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header" >
                        <tr >
                            <th>#</th>
                            <th>Libellé</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-decret let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="decret">
                            <td>{{rowIndex+1}}</td>
                            <td>{{decret.libelle}}</td>
                            <td class="actionsStyle">
                                <div>
                                    <button pButton pRipple type="button" icon="pi pi-eye" label="" (click)="openModalDetail(decret)" pTooltip="Visualiser" class="p-button-info mr-2" ></button>
                                    <button pButton pRipple type="button" icon="pi pi-pencil" label="" (click)="openModalEdit(decret)" pTooltip="Modifier" class="p-button-warning mr-2"></button>
                                    <button pButton pRipple type="button" icon="pi pi-trash" label="" (click)="onDelete(decret)" class="p-button-danger mr-2" pTooltip="Supprimer"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class=" flex justify-content-center">
                <p-paginator (onPageChange)="loadPage($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecord" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
            </div>
        </div>
    </div>
</div>
<app-confirmation></app-confirmation>
